# Generate .loadmods.cfg file
name: Generate loadmods file
# Run script automatically on push or when manually activated
on: [push, workflow_dispatch]

jobs:
  generate:
    runs-on: ubuntu-latest
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - uses: actions/checkout@v4
        with:
          token: ${{secrets.PAT_TOKEN}}
      
      - name: Generate a new loadmods file
        run: bash generate.sh
      - name: Commit and push changes
        run: |
          if [[ -n "$(git diff --exit-code)" ]]; then
            echo "Changes detected, commiting and pushing"
            git config --global user.name "${{ github.actor }}"
            git config --global user.email "${{ github.actor }}@users.noreply.github.com"
            git add .
            git commit -m "Auto-updating .loadmods.cfg"
            git fetch origin main
            git push origin HEAD:main
          else
            echo "No changes"
          fi
